.cocacola {
  a {
    color: red;
  }
  .btn {
    color: red;
    border-color: red;
    background: white;
    &:hover {
      background: lightpink;
    }
  }
}

.whole-foods {
  a {
    color: green;
  }
  .product-image-th:hover {
    border-color: lightgreen;
  }
  .btn {
    color: green;
    border-color: green;
    background: white;
    &:hover {
      background: lightgreen;
    }
  }
}
