.cocacola {
  .brand {
    color: red;
  }
  .brand-bg {
    color: red;
  }
}
.peeq {
  button {
    background-color: orange;
  }
}

.whole-foods {
  .brand {
    color: green;
  }
  .brand-bg {
    color: green;
  }
}
