//
.header-text {
  text-align: center
}

.sign-in-page {
  background: #EEE;
}

.form-control{
  margin-bottom: 10px;
}

.form-signin-heading {
  margin-bottom: 10px;
}

// #cboxOverlay {
//   background: black;
//   background-image: none;
// }

.sign-in-container {
  margin-top: 5em;
  background-color: white;
  padding: 50px;
  padding-top: 30px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.14);
  -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.14);
  box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.14);
}

.above {
  position: relative;
  z-index: 1000000;
}
.chosen-single {
  width: 200px;
}


// bootstrap forms

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.brand-image {
  position: relative;
  right: 20px;
}

body {
  -webkit-font-smoothing: antialiased;
}
.sign-in-container {
  backface-visibility: none;
  transition: height .2s;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}

.bootstrap-filestyle {
  margin-bottom: 10px;
}

.control-label {
  display: block;
}

.product-image-th {
  cursor: pointer;
   max-height: 200px;
   &:hover {
     border-color: $brand-primary;
   }
}

