//
.header-text {
  text-align: center
}

.sign-in-page {
  background: #EEE;
}

.card {
  clear: both;
}

.card-edit {
  margin-top: 20px;
}

.form-control{
  margin-bottom: 10px;
}

.form-signin-heading {
  margin-bottom: 10px;
}

// #cboxOverlay {
//   background: black;
//   background-image: none;
// }

.sign-in-container {
  margin-top: 5em;
  background-color: white;
  padding: 50px;
  padding-top: 30px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.14);
  -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.14);
  box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.14);
}

.above {
  position: relative;
  z-index: 1000000;
}
.chosen-single {
  width: 200px;
}


.disp-none {
  display: none;
}
// bootstrap forms

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.brand-image {
}

body {
  -webkit-font-smoothing: antialiased;
}
.sign-in-container {
  backface-visibility: none;
  transition: height .2s;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}

.bootstrap-filestyle {
  margin-bottom: 10px;
}

.control-label {
  display: block;
}

.product-image-th {
  cursor: pointer;
   max-height: 200px;
   &:hover {
     border-color: $brand-primary;
   }
}

.cart-card {
  text-align: left;
  padding: 0 20px;
}

.folder-card {
  // background: $brand-primary;
  // a {
  //   color: white;
  // }
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-bottom: 10px solid #FFF;
    border-left: 10px solid #eee;
    border-right: 10px solid #eee;
    width: 25%;
    height: 0;
  }
}

/*  Tablet  */
@media (min-width:767px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}

.quantity-field {
  margin: 0 20%;
}

