//
.header-text {
  text-align: center
}

.sign-in-page {
  background: #EEE;
}

.form-control{
  margin-bottom: 10px;
}

.form-signin-heading {
  margin-bottom: 10px;
}

.sign-in-container {
  margin-top: 5em;
  background-color: white;
  padding: 50px;
  padding-top: 30px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.14);
  -moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.14);
  box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.14);
}


// bootstrap forms

.rails-bootstrap-forms-date-select select,
.rails-bootstrap-forms-time-select select,
.rails-bootstrap-forms-datetime-select select {
  display: inline-block;
  width: auto;
}

.rails-bootstrap-forms-error-summary {
  margin-top: 10px;
}

.fade-in {
  display: none;
}
