// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-new {
}

.status-old {
  background: rgb(255,222,222);
}

.status-processed {
  background: rgb(255,255,222);
}

.status-shipped {
  background: rgb(222,255,222);
}
